<div class="forgot-page">

  <div class="forgot-card">

    <!-- LOGO -->

    <div class="forgot-logo">
      ✦
    </div>


    @if (step === 1) {

      <h1>
        Forgot Password?
      </h1>

      <p class="subtitle">
        Enter your email address and we'll
        send you an OTP to reset your password.
      </p>


      <div class="field">

        <label>
          Email address
        </label>

        <input
          nz-input
          type="email"
          [(ngModel)]="email"
          placeholder="Enter your email"
        />

      </div>


      @if (errorMessage) {

        <div class="message error">
          {{ errorMessage }}
        </div>

      }


      @if (successMessage) {

        <div class="message success">
          {{ successMessage }}
        </div>

      }


      <button
        nz-button
        nzType="primary"
        class="primary-button"
        (click)="sendOtp()"
        [disabled]="isLoading"
      >

        @if (isLoading) {

          <span
            nz-icon
            nzType="loading"
          ></span>

          Sending...

        }

        @else {

          Send OTP

        }

      </button>

    }


    @if (step === 2) {

      <h1>
        Verify OTP
      </h1>

      <p class="subtitle">

        Enter the 6-digit OTP sent to

        <strong>
          {{ email }}
        </strong>

      </p>


      <div class="field">

        <label>
          OTP
        </label>

        <input
          nz-input
          type="text"
          maxlength="6"
          [(ngModel)]="otp"
          placeholder="Enter 6-digit OTP"
        />

      </div>


      @if (errorMessage) {

        <div class="message error">
          {{ errorMessage }}
        </div>

      }


      @if (successMessage) {

        <div class="message success">
          {{ successMessage }}
        </div>

      }


      <button
        nz-button
        nzType="primary"
        class="primary-button"
        (click)="verifyOtp()"
        [disabled]="isLoading"
      >

        @if (isLoading) {

          <span
            nz-icon
            nzType="loading"
          ></span>

          Verifying...

        }

        @else {

          Verify OTP

        }

      </button>


      <button
        type="button"
        class="back-button"
        (click)="step = 1"
      >
        Change email
      </button>

    }


    @if (step === 3) {

      <h1>
        Create New Password
      </h1>

      <p class="subtitle">
        Choose a strong password for your account.
      </p>


      <div class="field">

        <label>
          New password
        </label>

        <input
          nz-input
          type="password"
          [(ngModel)]="newPassword"
          placeholder="Enter new password"
        />

      </div>


      <div class="field">

        <label>
          Confirm password
        </label>

        <input
          nz-input
          type="password"
          [(ngModel)]="confirmPassword"
          placeholder="Confirm new password"
        />

      </div>


      <div class="password-hint">

        Minimum 9 characters with uppercase,
        lowercase, number and special character.

      </div>


      @if (errorMessage) {

        <div class="message error">
          {{ errorMessage }}
        </div>

      }


      @if (successMessage) {

        <div class="message success">
          {{ successMessage }}
        </div>

      }


      <button
        nz-button
        nzType="primary"
        class="primary-button"
        (click)="resetPassword()"
        [disabled]="isLoading"
      >

        @if (isLoading) {

          <span
            nz-icon
            nzType="loading"
          ></span>

          Resetting...

        }

        @else {

          Reset Password

        }

      </button>

    }


    <button
      type="button"
      class="login-link"
      (click)="goToLogin()"
    >

      ← Back to Login

    </button>

  </div>

</div>